<header class="jumbotron">
  <h1 class="text-center">CaelumPic</h1>
</header>
<section class="container">

  <app-mensagem *ngIf="mensagem.texto" [texto]="mensagem.texto" [tipo]="mensagem.tipo"></app-mensagem>

  <div class="row">
    <form class="col-md-12">
      <a routerLink="/cadastro" class="btn btn-primary">Nova Foto</a>
    </form>
  </div>

  <div class="row">
    <painel *ngFor="let foto of listaFotos" titulo="{{foto.titulo}}" class="col-md-4">
      <a [routerLink]="['/cadastro', foto._id]" data-foto>
        <foto url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
      </a>
      <button (click)="remover(foto)" class="btn btn-danger">Remover</button>
    </painel>
  </div>

</section>